:root {

    --footer-links-color: black;
    --footer-links-hover: red;
}

.footer {
    background-color: #343a40;
    color: #adadad;
    padding: 2rem 0 4rem 0;
    font-size: .8rem;
}

.footer-column {
    margin-bottom: 1em;
}

/* STYLING FOR ANY MENUS IN THE FOOTER */

.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer ul li a {
    color: var(--footer-links-color);
    font-size: var(--footer-font-size);
}

.footer ul li a:hover {
    color: var(--footer-links-hover);
}