.callback_form {
    width: 250px;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(109, 207, 246, .28);
    border-radius: 20px;
}

.callback_form_inner {
    text-align: left;
    display: inline-block;
    margin-right: -20px;
}

.callback {
    width: 200px;
    border-radius: 10px;
}