:root {
    --main_menu_background_color: rgb(57, 54, 59);
    --main_menu_links_color: white;
    --main_menu_links_color_hover: red;

    --hamburger_menu_background: rgba( 0, 0, 0, 0.9);
    --hamburger_menu_links_color: white;
    --hamburger_menu_links_hover: red;
    --hamburger_menu_separators: grey;
}

/*****************************************
* MAIN MENU
******************************************/

.desktop-menu {
    float: right;
}

.desktop-menu ul {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}

.desktop-menu li {
    margin-left: 30px;
    font-size: 0.9rem;
}

.desktop-menu li a {
    color: white;
}

.desktop-menu li.current-menu-item a {
    color: #bf9130;
}

.desktop-menu li.current-menu-item a:hover {
    color: #bf9130;
}

.desktop-menu li a:hover {
    text-decoration: none;
    color: #f3c667
}


/*****************************************
* HAMBURGER MENU
******************************************/

/* HAMBURGER ICON */

.hamburger-icon {
    float: right;
    color: white;
    font-size: 1.8rem;
}


.ut_hamburger_menu_menu__close_button {
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 1.8rem;
    color: red;
    line-height: 100%;
}

.ut_hamburger_menu_menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(6,19,61,0.8), rgba(6, 19, 61, 0.8) ), url(../images/mobile_menu_background.jpg);
    background-size: cover;
    z-index: 100;
    display: none;
}

.ut_hamburger_menu_menu ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    align-items: center;
    list-style-type: none;
}

.ut_hamburger_menu_menu__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.ut_hamburger_menu_menu ul li {
    padding: 1em 2em;
}

.ut_hamburger_menu_menu ul li:not(:last-child) {
    border-bottom: 1px solid var(--hamburger_menu_separators);
}

.ut_hamburger_menu_menu ul li a {
    color: var(--hamburger_menu_links_color);
}

.ut_hamburger_menu_menu ul li a:hover {
    color: var(--hamburger_menu_links_hover);
}

/***************************************** 
* BREAKPOINT FROM MOBILE TO DESKTOP MENU 
******************************************/

@media only screen and (min-width: 768px) {
    .ut_hamburger_menu {
        display: none;
    }

    .ut_main_menu {
        display: block;
    }
}