/* DEFAULT FONT FAMILY */
body {
    font-family: 'Raleway';
}

/* HEADER SIGNATURE */
h1.signature {
    float: left;
    font-size: 1.8rem;
    font-family: "Reenie Beanie";
    color: white;
}

h1.signature a {
    color: white;
    cursor: pointer;
}

h1.signature a:hover {
    text-decoration: none;
}

h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

h2.inner-page-title {
    letter-spacing: .05em;
}

h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

p {
    color: #c3bda5;
    text-align: center;
    font-size: 1rem;
    line-height: 250%;
}

.highlight {
    color: #fff7d8;
}

.aside {
    font-style: italic;
    font-size: 0.9rem;
    line-height: 170%;
}

a.button {
    background-color: #e90aef;
    background-color: #bf9130;
    border: 0;
    font-size: 1.1rem;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    padding: 2px 15px 2px 15px;
    box-shadow: 3px 4px 5px 0 black;
    box-shadow: 3px 4px 7px 0 rgba(0,0,0,0.5);
    min-width: 180px;
    display: inline-block;
}

@media only screen and (min-width: 992px) {

    span.background {
        padding: 1rem 2rem;
        border-radius: 50px;
        display: inline-block;
        background-color: rgba(23, 162, 184, 0.2);
        background: radial-gradient(rgba(23, 162, 184, 0.4), rgba(23, 162, 184, 0.1));
        background: linear-gradient(to bottom right, #015c65, #162152);
        background: linear-gradient(to bottom right, rgba(1, 92, 101, 0.7), rgba(22, 33, 82, 0.4));
        box-shadow: 3px 4px 7px 0 rgba(0,0,0,0.5);

        background: url(../images/sand-pile.png);
        background-size: contain;
    }

}

@media only screen and (min-width: 1200px) {

    span.background-xl {
        padding: 1rem 2rem;
        border-radius: 50px;
        display: inline-block;
        background-color: rgba(23, 162, 184, 0.2);
        background: radial-gradient(rgba(23, 162, 184, 0.4), rgba(23, 162, 184, 0.1));
        background: linear-gradient(to bottom right, #015c65, #162152);
        background: linear-gradient(to bottom right, rgba(1, 92, 101, 0.7), rgba(22, 33, 82, 0.4));
        box-shadow: 3px 4px 7px 0 rgba(0,0,0,0.5);
    }

}

@media only screen and (min-width: 768px) {
    .justify-md {
        text-align: justify;
    }
}

@media only screen and (min-width: 1200px) {
    
    h2.inner-page-title {
        letter-spacing: .07em;
        font-size: 2.4rem;
    }

}