@import "typography.css";
@import "links_and_buttons.css";
@import "forms.css";
@import "menus.css";
@import "header.css";
@import "footer.css";
@import "homepage.css";
@import "page-services.css";
@import "how-work.css";
@import "page-pricing.css";
@import "contact.css";
@import "dano_bootstrap_extension.css";



/* remove the WordPress edit link for admins */
.edit-link { 
    display: none; 
}

/* CONTAINERS */
.dano_outer_page {
    width: 100%;
}

.dano_inner_page {
    width: 100%;
    background: linear-gradient( to right, rgb(33, 72, 145), rgb(23, 35, 95) ); 
}

@media only screen and (min-width: 768px) {
    .dano_inner_page {
        background: linear-gradient( to right, rgba(33, 72, 145, 0.9), rgba(15, 21, 51, 0.9) );
        background: linear-gradient( to right, rgba(33, 72, 145, 0.9), rgba(15, 21, 51, 0.9) ), url(../images/texture009-dark.jpg);
        /*background: linear-gradient( to right, hsla(219, 80%, 14%, 0.9), hsla(230, 80%, 5%, 0.9) ), url(../images/texture009.jpg);
        background: linear-gradient( to right, rgba(33, 72, 145, 0.9), rgba(15, 21, 51, 0.9) ), url(../images/texture789.jpg);
        background: linear-gradient( to right, rgba(33, 72, 145, 0.9), rgba(15, 21, 51, 0.9) ), url(../images/texture856.jpg);
        background: linear-gradient( to right, rgba(33, 72, 145, 0.9), rgba(15, 21, 51, 0.9) ), url(../images/texture888.jpg);*/
        background-repeat: repeat;
    }
}